# Created by .ignore support plugin (hsz.mobi)
/client_id.json
/*.rrd
/writableFields.json
/.idea
/vendor
/emeocv
/cache
/log
/node_modules
/python/.idea
/python/__pycache__
/python/Image/__pycache__
/python/*.knn
/python/*.svm
/python/training
